html
	head
		title User App - #{title}
		link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Josefin+Sans")
	body
		include nav.pug
	div.search
		h1 Search User Database
		form(method='POST' action='/search')
			div.searchBar
				input(type='text' placeholder='Search' name='search')
			div.searchButton
				button(type='submit' value='submit') Search
			div.searchResult
				table
					tr
						th Name
						th Email
				- for (i = 0; i < searchResult.length; i++)
					table
						tr 
							td #{searchResult[i].firstname} #{searchResult[i].lastname} 	
							td #{searchResult[i].email}

style
	include stylesheet.css 