html
	head
		title User App - #{title}
		link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Josefin+Sans")
	body
		include nav.pug
	div.userList
		h1 Userlist Database
		div.userListData
			table
				tr
					th Name
					th Email
			for user in data
				table
					tr
						td #{user.firstname} #{user.lastname}
						td #{user.email}		
style
	include stylesheet.css
